* {
  box-sizing: border-box;
}

.light-text-title {
  color: white;
  text-shadow: 3px 3px black;
  font-weight: 900;
}

.light-text-body {
  color: white;
  text-shadow: 2px 2px black;
  font-weight: 600;
}

.light-text-emphatic {
  color: white;
  text-shadow: 5px 5px black;
}

.dark-text-title {
  color: black;
  text-shadow: 2px 2px white;
}

.dark-text-body {
  color: black;
  text-shadow: 1px 1px white;
}

.shadow-box {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px black;
  padding: 5px
}

.tabs .is-active {
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 5px solid cyan;
  border-top: 5px solid red;
  border-right: 5px solid lime;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.tabs li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px black;
  font-style: italic;
  text-transform: uppercase;
}

.card {
  border-radius: 0 0 20px 20px;
  background-color: black;
}

.card > .card-content {
  border-radius: 0 0 20px 20px;
  background-color: rgb(75, 25, 155);
}